  mat-toolbar{
    display: flex;
    flex-direction: row;
  }

  a{
    color: white;
    margin-left: 2rem;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

  button{
    font-size: 1.25rem;
    margin-right: 2rem;
    margin-left: auto;
  }

  