<div class="super">
    <div class="left">
        <div class="text">
            <p>Welcome to chirp, the new social media. We guarantee no ads, no tracking, no selling your info to third party and complete data security.
                Start today, start chirping
            </p>
        </div>
        <div class="buttons">
            <button (click)="login()" id="login" mat-raised-button color="primary">Log In</button>
            <button (click)="register()" id="signup" mat-stroked-button color="primary">Register</button>
        </div>
    </div>
    <img src="/assets/img/logo.jpg" width="300" height="300">

</div>