<div class="super">
    <div class="left">
        <div class="text">
            <p>Welcome to chirp, the new social media. We guarantee no ads, no tracking, no selling your info to third
                party and complete data security.
                Start today, start chirping
            </p>
        </div>
        <div class="buttons">
            <button (click)="login()" id="login" mat-raised-button color="primary">Log In</button>
            <a href="http://localhost:8080/auth/realms/chirp/protocol/openid-connect/registrations?client_id=chirp-web&response_type=code&scope=openid%20email&redirect_uri=http://localhost:4200/registration&kc_locale=EN" (click)="register()" id="signup" mat-stroked-button color="primary">Register</a>
        </div>
    </div>

    <div class="right">
        <div id="thoughtContainer">
            <div class="thought">* Chirp chirp, hello frien ! *</div>
        </div>
        <img src="/assets/img/logo.jpg" width="350" height="300">
    </div>

</div>