td{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px #C0C0C0;
}

table{
    border-collapse:separate; 
    border-spacing: 1.5rem;
}

.sidenav{
    background-color: #F0F2F5;
}

.aside{
    background-color: #F0F2F5;
}

.content{
    background-color: #F0F2F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.super{
    display: grid;
    grid-template-columns: 25% auto 25%;

    height: 100%;
}

.app-new-post{
    margin-bottom: 10px;
    margin-top: 10px;
}